useDynLib(flexclust)

import(methods)
import(graphics)
import(grid)
import(lattice)
import(modeltools)

importFrom(stats, fitted, predict)
importFrom(stats4, summary)

exportPattern("^dist.*", "^cent.*")

export(
       as.kcca,
       cclust,
       flxColors,
       kcca,
       kccaFamily,
       projAxes,
       qtclust,
       randomTour,
       randomTourMatrix,       
       stepFlexclust
       )


exportClasses(
              cclustControl,
              flexclust,
              flexclustControl,
              kcca,
              kccasimple,
              kccaFamily,
              projAxes,
              stepFlexclust
              ) 

exportMethods(
              barchart,
              barplot,
              clusters,
              coerce,
              getModel,
              image,
              info,
              pairs,
              parameters,
              placeLabels,
              plot,
              predict,
              randomTour,
              show,
              summary
              )


S3method(as.kcca, kmeans)
S3method(as.kcca, partition)


